// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.python-suite {
  flex-grow: 1;
  flex-shrink: 0;
}

.outline {
  height: 300px;
  width: 400px;
  background: @syntax-bg;
  border-image: linear-gradient(#1f1f1f 5px, #121212 200px) 0 1 0 0 stretch;

}

.line {
  text-align: right;
  width: 2em;
}

.atom-workspace {
  height: 10px;
}
